<h1>Place your bet</h1>

<%= form_tag bets_path do %>
<h3>Matchup: <%= @matchup_competitor.matchup.name%></h3>
<h3>Competitor: <%= @matchup_competitor.competitor.name%></h3>

<%= flash[:bet_message] if flash[:bet_message] %>

<%= label_tag :amount %>
<%= text_field_tag 'bet[amount]' %>
<%= hidden_field_tag 'bet[matchups_competitor_id]', @matchup_competitor.id %>
<%= submit_tag "Place Bet" %>
<% end %>
<h5>ALL BETS ARE FINAL!</h5>
