<h1>Sign up</h1>
  <% if flash[:passwords] %>
    <%= flash[:passwords] %>
    <% end %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <% end %>
<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :username %>
<%= f.text_field :username %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %><br>
<%= f.submit "Sign Up" %>
<% end %>
