<%= javascript_include_tag "https://www.google.com/jsapi" %>
<h1><%= @user.username %></h1><br>
<% unless UserAnalytics.new(@user).winning_bets.empty? %>
  <%= UserAnalytics.new(@user).win_rate %> Win Rate</h3>
<% end %>

<h2>Bets: </h2>
<h3>OPEN</h3>
<% if @open_bets %>
  <% @open_bets.each do |bet| %>
  <a href="/matchups/<%= bet.matchup.id %>" class="user_win_loss">
    You bet <%= bet.amount %> <br>
    on <%= bet.competitor.name %> <br>
    in <%= bet.matchup.name %><br>
  </a>
  <br>
  <% end %>
<% end %>

<h3>CLOSED</h3>
<% if @closed_bets %>
  <% @closed_bets.each do |bet| %>
  <a href="/matchups/<%= bet.matchup.id %>" class="user_win_loss">
  <% if bet.matchups_competitor.winner == true %>
    <div class="winner">
  <% else %>
    <div class="loser">
  <% end %>
    You bet <%= bet.amount %> <br>
    on <%= bet.competitor.name %> <br>
    in <%= bet.matchup.name %><br>
  </div>
  </a>
  <% end %>
<% end %>
