 <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<h3 id="create_matchup"><%= link_to "Create a Matchup", new_matchup_path %></h3>

<div class="matchups_container">

    <div class="row row-centered">

      <h2>OPEN</h2>

      <% @matchups_open.each do |matchup| %>

        <a href="/matchups/<%= matchup.id %>">
          <div class="col-xs-6 col-centered col-fixed matchup_blocks">
            <h3> <%= matchup.name %></h3>
          <h4>Competitors</h4>
            <%= matchup.competitors.map(&:name).join(" vs. ") %><br>
          <h4>Type</h4>
          <%= matchup.matchup_type.name %><br>
          <h4>Matchup Date</h4>
          <%= matchup.deadline.ctime %><br>
        </div>
      </a>

      <% end %>

    </div>

    <div class="row row-centered">

      <h2>CLOSED</h2>

      <% @matchups_closed.each do |matchup| %>

        <a href="/matchups/<%= matchup.id %>">
          <div class="col-xs-6 col-centered col-fixed matchup_blocks">
            <h3> <%= matchup.name %></h3>
          <h4>Competitors</h4>
            <%= matchup.competitors.map(&:name).join(" vs. ") %><br>
          <h4>Type</h4>
          <%= matchup.matchup_type.name %><br>
          <h4>Matchup Date</h4>
          <%= matchup.deadline.ctime %><br>
          WINNER: <% if matchup.winner_mc %>
          <%= matchup.winner_mc.competitor.name %>
          <% end %>
        </div>
      </a>

      <% end %>

    </div>

</div>

<div>
  <%= column_chart( @matchups.first.get_num_matchups_for_chart ,
  {library: {hAxis: {title: "Type of Matches"}, vAxis: {title: "Number of Matches"}}}) %>
</div>
