<%= form_for @matchup do |f| %>
  <% if flash.any? %>
    <% flash.keys.each do |message| %>
      <%= flash[message] %>
    <% end %>
  <% end %>

<label>Competitor 1</label>
<select name="competitor1">
  <% @competitors.each do |competitor| %>
  <option value= <%= competitor.id %> > <%= competitor.name %></option>
  <% end %>
</select><br>

<label>Competitor 2</label>
<select name="competitor2">
  <% @competitors.each do |competitor| %>
  <option value= <%= competitor.id %> > <%= competitor.name %></option>
  <% end %>
</select><br>

<label>Matchup Type</label>
<select name="matchup_type">
  <% @types.each do |type| %>
  <option value= <%= type.id %> > <%= type.name %></option>
  <% end %>
</select><br>

<%= f.datetime_local_field :deadline, min: Time.zone.tomorrow, max: Time.zone.today.next_month %><br>

<%= f.submit "Create A Matchup" %>

<% end %>

<%= form_tag "/random" do |f| %>
<%= submit_tag "Create A Random Matchup" %>
<% end %>
