<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="countdown">
  <h4>Time left to place your bets</h4>
  <div id="clockdiv"></div>
</div>

<br>

<div class="matchup_name_and_type">
  <h1> <%= @matchup.name %> </h1>
  <h3> <%= @matchup.matchup_type.name %> </h3>
</div>

<div class="competitor_buttons row-fluid">

  <div class="span5">
    <%= form_tag "/placebet" do %>
    <%= hidden_field_tag 'matchup', @matchup.id  %>
    <%= hidden_field_tag 'competitor', @matchup.competitors.first.id  %>
    <%= submit_tag "#{@matchup.competitors.first.name}" %>
    <% end %>
  </div>

  <div class="span2">
    <h1>vs.</h1>
  </div>

  <div class="span5">
    <%= form_tag "/placebet" do %>
    <%= hidden_field_tag 'matchup', @matchup.id  %>
    <%= hidden_field_tag 'competitor', @matchup.competitors.last.id  %>
    <%= submit_tag "#{@matchup.competitors.last.name}" %>
    <% end %>
  </div>

</div>

<div class="deadline">
  <h3> <%= @matchup.deadline.strftime("%A, %B %d, '%y") %></h3>
  <h3><%= @matchup.deadline.strftime("%I:%M %p") %></h3>
</div>

<div>
<%= pie_chart(@matchup.data_for_bets_pie) %>
</div>

<script type="text/javascript">

var deadline = "<%= @matchup.format_time %>";

function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

getTimeRemaining(deadline).minutes

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var timeinterval = setInterval(function(){
    var t = getTimeRemaining(endtime);
    clock.innerHTML =  t.days + " Days <br>&nbsp;<br>" +
                       t.hours + " Hours <br>&nbsp;<br> " +
                       t.minutes + " Minutes <br>&nbsp;<br> " +
                       t.seconds + " Seconds";
    if(t.total<=0){
      clearInterval(timeinterval);
    }
  },1000);
}

initializeClock('clockdiv', deadline);

</script>
