<h1>  <%= @matchup.matchup_type.name %> </h1>
<h2>featuring: </h2>
<h3><%= @matchup.competitors.first.name %>
vs
 <%= @matchup.competitors.last.name %> </h3>
ON

<h3> <%= @matchup.deadline.strftime("%A, %B %d, '%y") %> 
         at
 <%= @matchup.deadline.strftime("%I:%M %p") %> </h3>
<%= link_to "See All Matchups", matchups_path %>
