<h1>All Competitors</h1>

<%= link_to 'Add New Competitor', new_competitor_path %>
<br>
<br>
<ul>
<% @competitors.each do |competitor| %>
  <li><%= link_to competitor.name, competitor %></li>
<% end %>
</ul>

<h4 style="text-align: center;">Number of Matchups per Competitor</h4>
<%= column_chart(@chart1) %><br><br>

<h4 style="text-align: center;">Total number of Bets per Competitor</h4>
<%= column_chart(@chart2) %><br><br>

<h4 style="text-align: center;">Total value of Bets per Competitor</h4>
<%= column_chart(@chart3) %><br><br>

<h4 style="text-align: center;">Average bet per Competitor</h4>
<%= column_chart(@chart4) %>

<h4 style="text-align: center;">Winningest Competitor</h4>
<%= column_chart(@chart5) %>
