<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= link_to 'View All Competitors', competitors_path %>

<h1><%= @competitor.name %><br></h1>

<h3>All Matchups</h3>

<%= "None." if @competitor.has_no_matchups? %>
<% @competitor.matchups.each do |matchup| %>
  <a href="/matchups/<%= matchup.id %>">
    <h4><%= matchup.name %></h4>
    <%= matchup.matchup_type.name %><br>
    vs. <%= matchup.opposing_competitor_to(@competitor) %><br>
    <%= DisplayDeadline.new(matchup).competitor_show_display %><br>
  </a><br>
<% end %>

<h3>Users who have bet on <%= @competitor.name %></h3>

<%= "None. Be the first!" if @competitor.has_no_users? %>

<% @competitor.users.each do |user| %>
  <%= link_to user.name, user %> -
  <%= UserCompetitorAnalytics.new(user, @competitor).number_of_bets_on_a_competitor %> time(s) -
  totaling $<%= UserCompetitorAnalytics.new(user, @competitor).total_bets_on_a_competitor %><br>
<% end %>

<%= column_chart(@bets_per_competitor ,
{library: {hAxis: {title: "User"}, vAxis: {title: "Total Amount Bet"}}}) %>

<h3>Types of matches participated</h3>

<%= "None." if @competitor.has_no_matchup_types? %>

<% @competitor.matchup_types.each do |type| %>
  <%= link_to type.name, type %><br>
<% end %>

<h3>Total amount of bets placed</h3>
<%= @total_amount_of_bets_placed %>
